.client {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.client__soc-list {
    display: flex;
    justify-content: center;
}

.client__soc-item:not(:last-child) {
    margin-right: 30px;
}

.client__soc-link {
    width: 170px;
    height: 92px;
    border: 1px solid #afb1b8;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #afb1b8;
    transition: border var(--o-transition), fill var(--o-transition);
    &:hover,
    &:focus {
        fill: #2196f3;
        border: 1px solid #2196f3;
    }
}
