.features__list {
    display: flex;
}

.features__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--theme-body);
    margin-bottom: var(--typical-margin);
}

.features__item:not(:last-child) {
    margin-right: 30px;
}

.features__link {
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #afb1b8;
    cursor: auto;
    margin-bottom: 30px;
}