.section.section--features {
    padding-top: 0;
}

.work {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--theme-body);
    margin-bottom: 50px;
}

.work__imgs {
    display: flex;
}

.work__img+.work__img {
    margin-left: 30px;
}

.work__img {
    position: relative;
}