.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
  @include fonts(500, 14px, 1.14, 0.02em);
}

.contacts__link {
  display: flex;
  align-items: center;
  color: var(--primary-text-color);
  fill: currentColor;
}

.contacts__icon {
  margin-right: 10px;
}

.address {
  margin-top: 20px;
  @include fonts(400, 14px, 1.71, 0.03em);
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  .contacts__item:not(:last-child) {
    margin-bottom: 9px;
    margin-right: 0;
  }
}

.contacts__location {
  color: var(--background-color);
}
