.page-footer {
    background-color: var(--footer-background-color);
    // height: 252px;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: $mobile) {}

    @media screen and (min-width: $tablet) {}

    @media screen and (min-width: $desktop) {}
}

.footer {
    // display: flex;
    // align-items: baseline;

    @media screen and (min-width: $mobile) {}

    @media screen and (min-width: $tablet) {}

    @media screen and (min-width: $desktop) {
        display: flex;
        align-items: baseline;
    }
}

.footer__logo {
    // flex-grow: 1;

    @media screen and (min-width: $mobile) {}

    @media screen and (min-width: $tablet) {}

    @media screen and (min-width: $desktop) {
        flex-grow: 1;
    }
}

.logo.footer__logo--down {
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: $mobile) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    @media screen and (min-width: $desktop) {
        justify-content: left;
    }

}

.footer__logo--down {
    margin-right: 0;
}

.footer__logo--light {
    color: #ffffff;
}

.footer__connection {

    // @media screen and (min-width: $mobile) {

    // }

    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: space-around;
        align-items: baseline;
        margin-bottom: 60px;
    }

    // @media screen and (min-width: $desktop) {

    // }
}