.site-footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-background-color);
    .container__site-footer {
            display: flex;
            align-items: baseline;
        }
    }