.subscription {
    // display: flex;
    // margin-left: 93px;

    @media screen and (min-width: $mobile) {}

    @media screen and (min-width: $tablet) {
        margin-top: 60px;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        margin-top: 0;
        margin-left: 93px;
    }
}

.footer__form {
    // display: flex;

    @media screen and (min-width: $mobile) {}

    @media screen and (min-width: $tablet) {}

    @media screen and (min-width: $desktop) {
        display: flex;
    }
}

.footer__input {
    // display: flex;
    width: 100%;
    height: 50px;
    padding: 0 0 0 16px;
    color: var(--primary-button-text-color);
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;

    &::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        color: rgba(255, 255, 255, 0.6);
    }

    @media screen and (min-width: $mobile) {
        display: block;
        width: 450px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: $tablet) {
        display: block;
        width: 450px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        width: 358px;
    }
}

.footer__submit {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-right: auto;
    // margin-left: 12px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    padding: 0;
    width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;

    @media screen and (min-width: $mobile) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
        margin-right: auto;
        margin-left: 12px;
    }
}

.footer__icon-send {
    // display: flex;
    // justify-content: center;
    margin-left: 10px;
    fill: var(--primary-button-text-color);

    @media screen and (min-width: $desktop) {
        display: flex;
        justify-content: center;
    }
}