.connection {
    // margin-left: 70px;
    margin-top: 60px;

    @media screen and (min-width: $mobile) {
        margin-top: 60px;
    }

    @media screen and (min-width: $tablet) {
        margin: 0;
    }

    @media screen and (min-width: $desktop) {
        margin: 0 0 0 70px;
    }

}

.connection__title,
.subscription__title {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--secondary-logo-color);

    @media screen and (min-width: $mobile) {
        text-align: center;
    }

    @media screen and (min-width: $tablet) {
        text-align: center;
    }

    @media screen and (min-width: $desktop) {
        text-align: left;
    }
}

.social {
    display: flex;
    justify-content: center;

    @media screen and (min-width: $mobile) {
        justify-content: center;
    }

    @media screen and (min-width: $tablet) {
        justify-content: center;
    }

    @media screen and (min-width: $desktop) {
        justify-content: flex-start;
    }

}

.social__link {
    display: flex;
    height: 44px;
    width: 44px;
    padding: 0;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill: var(--primary-button-text-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        fill: var(--primary-button-text-color);
    }
}

.social__item {
    margin-left: 10px;

    &:first-child {
        margin-left: 0;
    }
}

.social__icon {
    padding: 0;
    margin: 0;
    width: 20px;
    height: 20px;
    align-items: center;
}