.page-header {
    position: relative;
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: $mobile) {
        margin-left: auto;
        margin-right: auto;
        max-width: 480px;
    }

    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        max-width: 768px;
        height: 82px;
        border-bottom: 1px solid #eeeeee;
    }

    @media screen and (min-width: $desktop) {
        margin-left: auto;
        margin-right: auto;
        max-width: 1600px;
    }
}

.nav {
    display: flex;
}

.menu__button {
    position: absolute;
    top: 10px;
    right: 15px;
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    z-index: 222;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: var(--accent-color);
    }


    @media screen and (min-width: $tablet) {
        display: none;
    }

}

.menu__button .icon-menu {
    display: none;
}

.menu__button.is-open .icon-menu {
    display: block;
}

.menu__button.is-open .icon-close {
    display: none;
}

.mobile-menu {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 796px;
    padding: 48px 40px;
    text-align: left;
    font-size: 40px;
    background-color: var(--secondary-logo-color);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);


    @media screen and (min-width: $tablet) {
        display: none;
    }
}

.mobile-menu.is-open {
    display: block;
    z-index: 111;
}

.mobile__nav--item {
    display: block;
    margin-bottom: 32px;
}

.mobile__nav--item:last-child {
    margin-bottom: 0;
}

.mobile__link {
    display: block;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.mobile__link--current {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration: none;
}

.mobile__contacts {
    margin-top: 302px;
}


.mobile__list {
    font-size: 34px;
}

.mobile__item--tel {
    display: block;
    margin-top: 32px;
}

.mobile--tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.mobile--email {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
}

.mobile__soc {
    margin-top: 64px;
}

.mobile__soc--list {
    display: flex;
    flex-wrap: wrap;
    font-size: 18px;
}

.mobile__soc--link {
    padding: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    font-size: 3vw;
    letter-spacing: 0.02em;
    color: var(--accent-color);
}

.mobile__soc--item {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile__soc--item:last-child {
    border: none;
}

.mobile__soc--item:first-child {
    padding-left: 0;
}


.logo {
    display: flex;
    align-items: center;
    margin-right: 93px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    text-decoration: none;
}

.logo__dark {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--primary-logo-color);
    text-decoration: none;
}

/* site-nav section */
.site-nav {
    // display: flex;
    display: none;

    @media screen and (min-width: $mobile) {
        display: none;
    }

    @media screen and (min-width: $tablet) {
        display: flex;
    }
}



.site-nav__item {
    margin-right: 50px;
}

.site-nav__item:last-child {
    margin-right: 0;
}

.site-nav__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.site-nav__link--current {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration: none;

    &::after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background: var(--accent-color);
        border-radius: 2px;
    }
}

/* Menu header contacts */

.header-contacts {
    display: none;
    // display: flex;
    padding: 0;
    margin: 0;
    // align-items: center;

    &__icon {
        margin-right: 10px;
    }

    &__item {
        margin-left: 50px;

        &:first-child {
            margin-left: 0;
        }

        @media screen and (min-width: $tablet) {
            margin-left: 0;
        }

        @media screen and (min-width: $desktop) {
            margin-left: 50px;
        }
    }


    @media screen and (min-width: $mobile) {
        display: none;
    }

    @media screen and (min-width: $tablet) {
        display: flex;
        flex-direction: column;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        flex-direction: row;
        padding: 0;
        margin: 0;
        align-items: center;
    }

}

.header-contacts__link {
    display: flex;
    padding: 32px 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    align-items: center;
    color: var(--secondary-text-color);
    text-decoration: none;
    fill: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--accent-color);
        fill: var(--accent-color);
    }

    @media screen and (min-width: $tablet) {
        padding: 10px 0;

    }

    @media screen and (min-width: $desktop) {
        padding: 32px 0;
    }
}