.hero {
    background-color: #c4c4c4;
    text-align: center;
    padding: 118px 0;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/img-hero-480.jpeg);

    @media screen and (min-width: $mobile) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/img-hero-480.jpeg);
    }

    @media screen and (min-width: 769px) and (max-width: 1199px) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/img-hero-768.jpeg);
    }

    @media screen and (min-width: $desktop ) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/Img-hero.jpg);
        padding: 200px 0;
    }


    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/img-hero-480@2x.jpeg);
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/img-hero-768@2x.jpeg);
        background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
            url(../images/Img-hero@2x.jpeg);
    }




}

.hero__title {
    // font-weight: 900;
    // font-size: 44px;
    // line-height: 1.5;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;
    margin: 0;
    margin-bottom: 30px;

    @media screen and (min-width: $mobile ) {
        font-weight: 900;
        font-size: 26px;
        line-height: 1.61;
    }

    @media screen and (min-width: $tablet ) {
        font-weight: 900;
        font-size: 26px;
        line-height: 1.61;
    }

    @media screen and (min-width: $desktop ) {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.5;
    }

}

.hero__button {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.06em;
    background-color: var(--accent-color);
    color: var(--primary-button-text-color);
    text-align: center;
    padding: 10px 32px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}