.logo {
  font-family: 'Raleway', sans-serif;
  @include fonts(700, 26px, 1.2, 0.03em);
  color: var(--accent-color);
  &__black {
    color: var(--black-clear-color);
  }
  &__white {
    color: var(--background-color);
  }
}
