.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--theme-btn-fcs);
  margin-right: 93px;
}

.header__logo {
  color: #000;
}

.footer__logo {
  color: #fff;
}