.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 700ms linear, visibility 700ms linear;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1) rotate(360deg);
  transition: transform 1000ms linear;
  background-color: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  transform: scale(-1, 0.3) rotate(-320deg);
}

.modal__btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: fill var(--transform-type);
  &:hover,
  &:focus {
    fill: var(--accent-color);
    outline: none;
  }
}

.modal__title {
  margin-bottom: 12px;
  @include fonts(700, 20px, 1.15, 0.03em);
  text-align: center;
  color: var(--title-text-color);
}

.modal__field:not(:last-child) {
  margin-bottom: 10px;
}

.modal__label {
  display: block;
  margin-bottom: 4px;
  @include fonts(400, 12px, 1.17, 0.01em);
}

.modal__input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  font-size: 16px;
  color: var(--title-text-color);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border var(--transform-type);
  &:focus,
  &:hover {
    border-color: var(--accent-color);
    & + .modal__icon {
      fill: var(--accent-color);
    }
  }
}

.modal__input-wrap {
  position: relative;
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transform-type);
}

.modal__comment {
  display: block;
  height: 120px;
  margin-bottom: 20px;
  padding: 12px 16px;
  resize: none;
  &::placeholder {
    @include fonts(400, 12px, 1.17, 0.01em);
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal__btn--send {
  padding: 10px 55px;
}

/* ___________________Policy________________ */

.policy__field {
  margin-bottom: 30px;
}

.policy__label {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1.71;
}

.policy__checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 0.5rem;
  transition: background-color var(--transform-type), fill var(--transform-type);
  .policy:hover + .policy__label &,
  .policy:focus + .policy__label & {
    border-color: var(--accent-color);
  }
  .policy:checked + .policy__label & {
    background-color: var(--accent-color);
    fill: var(--background-color);
    border: transparent;
  }
}

.policy__link {
  text-decoration: underline;
}
