.filter{
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.filter__item:not(last-child){
    margin-right: 8px;
}

.filter__button{
    display: inline-block;
    min-width: none;
    color: var(--title-text-color);
    background-color:#F5F4FA;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;

    padding: 6px 22px;
    border: 0;
    border-radius: 4px;
    transition: background-color 250ms var(--timing-funktion), color 250ms var(--timing-funktion), box-shadow 250ms var(--timing-funktion);
   
   
    &:hover,
    &:focus{
    color: var(--white-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

