.filtr {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    margin-bottom: 50px;

    @media screen and (min-width: $tablet) {
        flex-wrap: nowrap;
        justify-content: center;
    }
}

.filtr__item {
    // margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 15px;

    &:last-child {
        margin-right: 0;
    }

    @media screen and (min-width: $mobile) {
        margin-bottom: 15px;

    }

    @media screen and (min-width: $tablet) {
        margin-bottom: 0;
        margin-right: 0;
        margin-left: 8px;

        &:first-child {
            margin-left: 0;
        }

    }
}


// @media screen and (min-width: $mobile) {

// }

// @media screen and (min-width: $tablet) {

// }

// @media screen and (min-width: $desktop) {

// }



.filtr__button {
    display: inline-block;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    background: #f5f4fa;
    border-radius: 4px;
    padding: 6px 22px;
    border: none;
    cursor: pointer;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--primary-button-text-color);
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
            0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}