
.team{
    background-color: #F5F4FA;
   }
 
.team__title {
    margin-bottom: 50px;
}
.team__list{
    display:flex;
    align-items: flex-start;
}
.description{
     display: block;
     padding-top: 30px;
     padding-bottom: 30px;
     width: 270px;
}
.team__item{
    background-color:#FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child){
        margin-right: 30px;
    }
}
 .description__name{
     color: var(--title-text-color);
     font-weight: 500;
     font-size: 16px;
     line-height: 1.19;
     text-align: center;
     margin-bottom: 10px;
     }
 .description__position{
     font-size: 16px;
     line-height: 1.19;
     text-align: center;
     margin-bottom: 16px;
    }
 
    .soc-list{
        display: flex;
        justify-content: center;
    }
 
    .soc-list__item:not(:last-child){
        margin-right: 10px;
    }
    .soc-list__link{
      display:flex;
      width: 44px;
      height: 44px;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
     transition: background-color 250ms var(--timing-funktion);

        &:hover,
        &:focus{
            background-color:var(--accent-color);
        }
        &:hover .soc-list__icons,
        &:focus .soc-list__icons{
            fill: #FFFFFF;
        }
    }
    .soc-list__icons{
     fill:  #AFB1B8;
     transition: fill 250ms var(--timing-funktion);
    }
    