
.features__list{
    display: flex;
    
}
.features__item{
    width: 270px;

    &:not(:last-child){
        margin-right: 30px;
    }
}

.features__icons{
   display: flex;
   height: 120px;
   background-color: #F5F4FA;
   border-radius: 4px;
   margin-bottom: 30px;
   justify-content: center;
   align-items: center;
  }

.features__title{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    margin-bottom: 10px;
    }
.features__text{
    font-size: 14px;
    line-height: 1.71;
}
