
.clients{
    background-color: #FFFFFF;
}
.clients__title {
   margin-bottom: 50px;
}
.clients__logo{
    display: flex;
    justify-content: center;
}
.logo-item:not(:last-child){
    margin-right: 30px;
}
.logo-item__link{
  display:flex;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #AFB1B8;
  /* background-color: #E5E5E5; */
  justify-content: center;
  align-items: center;
  transition: border 250ms var(--timing-funktion);

    &:hover,
    &:focus{
        border: 1px solid var(--accent-color);
    }
    &:hover .logo-item__icons,
    &:focus .logo-item__icons{
    fill: var(--accent-color);
    }
}
.logo-item__icons{
 fill:  #AFB1B8;
transition: fill 250ms var(--timing-funktion);
}


