.social {
    display: flex;
    justify-content: center;
}

.social__item+.social__item {
    margin-left: 10px;
}

.social__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--icons-base-color);
    transition: color var(--transform-type);
    transition: background-color var(--transform-type);
    transition: fill var(--transform-type);
    &:hover,
    &:focus {
        background-color: var(--accent-color);
        fill: var(--background-color);
    }
}