.works {
    // display: none;
    // display: flex;
    // flex-wrap: wrap;
    // margin-left: -30px;

    @media screen and (min-width: $mobile) {
        display: none;
    }

    @media screen and (min-width: $tablet) {
        display: none;
    }

    @media screen and (min-width: $desktop) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
    }
}

.works__item {
    flex-basis: calc(100% / 3-30px);
    margin-left: 30px;
}

.works__box {
    position: relative;
    display: flex;
}

.works__desc {
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.21;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-button-text-color);
    background-color: rgba(47, 48, 58, 0.8);
}