.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
      justify-content: center;
    }
  @media screen and (min-width: 1200px) {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
  margin-bottom: 15px;
}

.filter__btn {
  display: inline-flex;
  padding: 6px 22px;
  @include fonts(500, 16px, 1.62, 0.03em);
  color: var(--title-text-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  border: none;
  transition: color var(--transform-type);
  transition: background-color var(--transform-type);
  &:focus,
  &:hover,
  &:active {
    color: var(--background-color);
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
