:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --black-clear-color: #000000;
  --icons-base-color: #afb1b8;
  --transform-type: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
