.features {
  @media screen and (min-width: 480px) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  @media screen and (min-width: 1200px) {
    flex-wrap: nowrap;
  }
}

.features__item {
  margin-bottom: 30px;
  @media screen and (min-width: 480px) {
    width: 450px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    width: 354px;
    margin-bottom: 0;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
    margin-right: 0;
  }
}

.features__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 0;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  @media screen and (min-width: 768px) {
    width: 354px;
  }
  @media screen and (min-width: 1200px) {
    width: 270px;
  }
}

.features__title {
  margin-bottom: 10px;
  @include fonts(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  color: var(--title-text-color);
  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.features__text {
  line-height: 1.71;
}
